.menu {
    background-color: rgb(32, 213, 153);
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: table-cell;
}

.menu {
    list-style: none;
    position: fixed;
    top: 0px;
    margin-top: 0px;
    width: 100%;
    background-color: rgb(23, 165, 118);
    z-index: 10;
    cursor: pointer;
}

#line1 {
    background-color: black;
    width: 20%;
    width: 5%;
}

body {
    background-color: aqua;
}

#i1 {
    height: 200px;
    width: 200px
}

#i2 {
    height: 300px;
    width: 60%;
}

#i3 {
    height: 200px;
    width: 200px
}

#i4 {
    height: 200px;
    width: 200px
}

#i7 {
    width: 60%;
}